/** Reset , Fonts , variables */


@font-face {
  font-family: "iranyekan";
  font-style: normal;
  src: url("../assets/fonts/Yekan.woff");
}

:root {
  --white: #ffffff;
  --orange: #FF5722;
  --blue: #0065dc;
  --textBlack: #000000;
  --textGray: #545454;
  --navbarColor: #f8f8f8;
  --blogTextColor: #9b9b9b;
  --servicesTextColor: #333333;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: var(--white);
  font-family: iranyekan;
}

html {
  font-size: 62.5%;
}

.btn {
  border: none;
  font-family: iranyekan;
  padding: 7px 40px;
  border-radius: 8px;
  color: var(--white);
  font-size: 15px;
  line-height: 30px;
}

.btn--primary {
  background-color: var(--orange);
}


/*? HEADER STYLE */
.header {
  max-width: 1440px;
  position: relative;
  z-index: 1030;
}

.navbar {
  height: 60px;
  background-color: var(--navbarColor);
  padding: 0 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;

}

.navbar-container {
  display: flex;
}

.navbar--links {
  background-color: #fff;
  flex-direction: column-reverse;
  gap: 1.5rem;
  padding: 1.5rem;
  position: absolute;
  top: 60px;
  right: 0;
  width: 100%;
  display: none;
  box-shadow: 0 10px 27px rgba(0, 0, 0, .05);
}

.navbar--links li a {
  font-size: 1.6rem;
  line-height: 30px;
  color: var(--textGray);
}

.download-tapsi {
  display: none;

}

.download-tapsi a {
  display: block;
  color: var(--white);
}

.hamburger {
  position: relative;
  height: 25px;
  width: 25px;
}

.bar1,
.bar2,
.bar3 {
  display: block;
  background-color: var(--textBlack);
  width: 24px;
  height: 2px;
}

.bar2 {
  margin: 6px 0;
}

.hamburger.active .bar2 {
  margin: 0;
  display: none;
}

.hamburger.active .bar1 {
  position: absolute;
  top: 12px;
  transform: rotate(-45deg);
}

.hamburger.active .bar3 {
  position: absolute;
  top: 12px;
  transform: rotate(45deg);
}

/* ! HEADER RESPONSIVE */
@media screen and (min-width:768px) {
  .hamburger {
    display: none;
  }

  .navbar--links {
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    padding: 0;
    position: relative;
    top: 0;
    right: 0;
    width: auto;
    background-color: var(--navbarColor);
    box-shadow: none;
  }

  .navbar--links>li:not(.navbar--links li:last-child) {
    margin-left: 30px;
  }

  .navbar--links li a {
    font-size: 1.4rem;
  }
}

@media screen and (min-width:1024px) {
  .download-tapsi {
    display: block;
    margin-right: 35px;
  }

  .navbar--links li a {
    font-size: 1.6rem;
  }
}


/* ? BANER STYLE */

.hero-section {
  position: relative;
  top: 60px;
  width: 100%;
  height: calc(538px - 60px);
  margin-bottom: 220px;
}

.banner img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.mockup img {
  display: none;
}

.content-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-section .content-wrapper .container {
  padding: 16px;
  border-radius: 16px;
  background-image: linear-gradient(51deg, rgba(23, 26, 60, .7) 5%, rgba(23, 26, 60, .3) 95%);
  width: 270px;
}

.content-wrapper .title {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 700;
}

.sub-title {
  color: #fff;
  font-size: 1.6rem;
  margin-bottom: 24px;
}

.intro-btn {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.center-buttons {
  justify-content: center;
}

.intro-btn-passanger {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro-btn-passanger a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  width: 100%;
  height: 56px;
  margin: 7px;
  padding: 14px;
}

.intro-btn-passanger a p {
  margin: auto;
  font-size: 16px;
}

.intro-btn-passanger a i {
  font-size: 20px;
}

.download-btn {
  color: var(--textBlack);
  background-color: var(--white);
}

.driver-btn {
  color: var(--white);
  border: 2px solid var(--white);
}

/*! BANNER RESPONSIVE */

@media screen and (min-width:768px) {

  .content-wrapper {
    justify-content: flex-start;
  }

  .hero-section .content-wrapper .container {
    margin-bottom: 50px;
    margin-right: 10%;
    width: 528px;
  }

  .content-wrapper .container .title {
    font-size: 5rem;
  }

  .sub-title {
    font-size: 2.4rem;
  }

  .intro-btn-passanger {
    width: 50%;
  }

  .intro-btn-passanger a p {
    font-size: 18px;
  }
}

@media screen and (min-width:1024px) {
  .mockup img {
    display: block;
    position: absolute;
    top: 15%;
    left: 10%;
    height: 651px;
    width: 424px;
  }
}



/*?  SERVICES STYLE */
.section-services {
  padding: 50px 15px;
  margin: 0 2%;
  border-bottom: 1px solid #ddd;
}

.container-services {
  position: relative;
}

.section-services .container-services .title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
}

.fade-edge-left {
  background-image: linear-gradient(270deg, hsla(0, 0%, 100%, 0), #fff 90%);
  position: absolute;
  left: 0;
  width: 30px;
  height: 75px;
  z-index: 1;
}

.fade-edge-right {
  background-image: linear-gradient(90deg, hsla(0, 0%, 100%, 0), #fff 90%);
  position: absolute;
  right: 0;
  width: 30px;
  height: 75px;
  z-index: 1;
}

.nav-tabs {
  overflow-x: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 15px;
  max-width: 100%;
  margin-bottom: 20px;
}

.tab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.tab a {
  max-width: 95px;
}

.tab img {
  width: 80px;
  opacity: 0.5;
}

.tab p {
  margin-top: 13px;
  font-size: 14px;
}

.tab-content {
  display: flex;
  flex-direction: column;
}

.tab-pane {
  display: none;
}

.tab-pane.active {
  display: block;
}

.nav-tabs .tab.active img {
  opacity: 1;
}

.mt-auto .links-wrapper {
  width: 224px;
  max-width: 224px;
  height: 56px;
  flex-grow: 1;
}

.mt-auto .links-wrapper a {
  padding: 5px 10px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
}

.service-image {
  height: 100%;
  width: 45%;
  margin-right: 10%;
}

.service-image img {
  display: none;
}

.content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.content-container .title {
  font-weight: 500;
  font-size: 16px;
  color: #141414;
  margin: 10px 0;
}

.content-container .description {
  font-size: 14px;
  color: #333333;
  line-height: 32px;
  margin-bottom: 30px;
  text-align: justify;
}

/*! RESPONSIVE SERVICES SECTION */

@media screen and (min-width:640px) {
  .fade-edge-right {
    display: none;
  }

  .fade-edge-left {
    display: none;
  }
}

@media screen and (min-width:845px) {
  .tab p {
    font-size: 16px;
  }

  .section-services {
    margin: 0 10%;
    padding-bottom: 100px;
  }

  .section-services .container-services .title {
    font-size: 35px;

  }

  .tab-pane.active {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
  }

  .nav-tabs {
    margin: 50px 0;
    padding: 0;
  }

  .service-image img {
    object-fit: contain;
    display: block;
    height: 100%;
    width: 100%;
  }

  .content-container {
    width: 45%;
  }

  .content-container .title {
    font-size: 28px;
    color: #141414;
    margin-bottom: 20px;
  }

  .content-container .description {
    font-size: 18px;
    color: #333333;
    line-height: 32px;
    margin-bottom: 30px;
  }

  .content-container .links-wrapper a {
    font-size: 16px;
    padding: 5px 10px;
  }
}


/*? section corporate style */
.section-corporate {
  width: 100%;
  padding: 10% 2%;
  display: flex;
  flex-direction: column;
}

.block {
  display: flex;
  flex-direction: column;
}

.block.row-revers {
  padding: 10% 15px;
}

.block.row {
  padding: 10% 15px;
}

.corporate-img-container img {
  width: 100%;
  padding-right: 40px;
  margin-bottom: 50px;
  display: block;
}

.row .corporate-img-container img {
  padding: 0;
}

.block .content {
  width: 100%;
}

.block .content .title {
  font-size: 26px;
  margin-bottom: 20px;
  font-weight: 700;
}

.block .content .description {
  font-size: 16px;
  line-height: 32px;
  color: #333;
  text-align: justify;
}

.detail-link-container {
  margin: 20px 0;
  display: flex;
  align-items: center;
}

.detail-link-container a {
  color: var(--orange);
  font-size: 16px;
}

.detail-link-container i {
  color: var(--orange);
  width: 32px;
  margin-right: 10px;
}

.links-wrapper a,
.links-wrapper-discuss a {
  color: var(--white);
  background-color: var(--orange);
  padding: 12px 20px;
  line-height: 32px;
  border-radius: 12px;
  font-size: 16px;
}

.links-wrapper-discuss {
  margin-top: 20px;
}


/*! section corporate responsive */

@media screen and (min-width:845px) {
  .section-corporate {
    margin: 0;
    padding: 0 10%;
  }

  .block {
    flex-direction: row-reverse;
    align-items: center;
    padding: 0;
  }

  .block.row {
    flex-direction: row;
  }

  .block .content {
    width: 45%;
  }

  .block.row-revers,
  .block.row {
    padding: 6% 0%;
    justify-content: space-between;
  }

  .block .content .title {
    font-size: 35px;
  }

  .block .content .description {
    font-size: 18px;
  }

  .corporate-img-container {
    margin-right: 10%;
  }

  .corporate-img-container img {
    width: 450px;
    padding: 0 40px 0 0;
  }

  .block.row .corporate-img-container {
    margin: 0 0 0 10%;

  }
}



/* ?  BENEFIT SECTION STYLE*/

.benefit {
  background: url(/assets/images/parallax.jpeg);
  height: 100%;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.content__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 0;
}

.benefit--content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.benefit--content .title {
  font-size: 20px;
  color: var(--navbarColor);
  font-weight: 50;
  padding: 10px 0;
  text-align: center;
}

.benefit--content .sub-title {
  display: none;
  text-align: center;
  font-size: 16px;
}

.benefit--content {
  padding: 10px;
}

.benefit--content:hover.benefit--content .sub-title {
  display: block;
}


/*! BENEFIT SECTION RESPONSIVE */
@media screen and (min-width:845px) {
  .content__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 20px 10%;
  }

  .benefit--content {
    width: 190px;
  }

  .benefit--content .title {
    font-weight: bold;
    font-size: 22px;
  }

  .divider {
    width: 2px;
    height: 50px;
    background-color: var(--white);
  }
}

/*? SECTION DRIVERS STYLE */

.section-drivers {
  padding: 30px 0;
}

.drivers--container {
  padding: 6%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section-img {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 50px;
}

.drivers-content__container .title {
  margin-bottom: 20px;
  font-size: 24px;
}

.drivers-content__container .description {
  font-size: 18px;
  margin-bottom: 20px;
  line-height: 30px;
  color: #4d4d4d;
}

.drivers-content__container .sub-title {
  color: #4d4d4d;
  font-weight: 100;
  font-size: 18px;
  margin: 50px 0 20px 0;
}

.drivers-content__container .links-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.drivers-content__container .links-wrapper a {
  background-color: aquamarine;
  text-align: center;
  background-color: var(--blue);
  margin-bottom: 15px;
  width: 222px;
  padding: 12px 16px;
  font-size: 18px;
}

/*! SECTION DRIVERS RESPONSIVE */

@media screen and (min-width:845px) {
  .drivers--container {
    padding: 6% 10%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row-reverse;
  }

  .section-img {
    margin: 0 5% 0 0;
    width: 45%;
  }

  .drivers-content__container .title {
    font-size: 38px;
  }

  .drivers-content__container .description {
    font-size: 20px;
  }

  .drivers-content__container .sub-title {
    font-size: 20px;
  }

  .drivers-content__container .links-wrapper {
    flex-direction: row;
  }

  .drivers-content__container .links-wrapper a:first-child {
    margin-left: 10px;
  }
}


/*?  BLOG POST SECTION */
.blog-posts-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.blog-container {
  padding: 6%;
}

.post-container {
  padding-bottom: 50px;
}

.post-container img {
  width: 100%;
  border-radius: 12px;
}

.blog-container .title {
  margin-bottom: 50px;
  font-size: 26px;
  font-weight: 700;
}

.post-container .sub-title {
  color: #333333;
  font-size: 20px;
  margin: 10px 0;
  font-weight: 200;
}

.post-container p {
  font-size: 18px;
  color: #9b9b9b;
  padding-bottom: 50px;
}

@media screen and (min-width:845px) {
  .blog-container {
    width: 100%;
    padding: 8% 10%;
  }

  .post-container {
    padding: 25px;
  }

  .posts-container {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
  }

  .posts-container a {
    width: 33%;
  }

  .blog-container .title {
    font-size: 40px;
  }

}


/*? FOOTER STYLE */

.footer {
  background-color: var(--textBlack);
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.brand-col a {
  display: inline-block;
  color: var(--white);
  font-size: 50px;
  margin-bottom: 10px;
}

.brand-col h3 {
  font-size: 16px;
  font-weight: 100;
  color: var(--white);
}

.brand-col p {
  display: none;
}

.footer-col {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 15px auto;
}

.footer-col a {
  line-height: 30px;
  color: var(--navbarColor);
  font-size: 14px;
}

.footer-col h6 {
  color: var(--white);
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
}

.trust-col {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 15px;
}

.trust-logo {
  width: 80px;
}

.trust-logo img {
  padding: 3px 0;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  background-color: var(--navbarColor);
}

.footer p {
  color: var(--blogTextColor);
  font-size: 18px;
  font-weight: 100;
  margin-bottom: 15px;
}

.social-container {
  display: flex;
  flex-direction: column;
}

.social-container h3 {
  display: none;
}

.social-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.social-links a {
  font-size: 30px;
  color: var(--blogTextColor);
}

.social-links a:hover {
  color: var(--navbarColor);
}


@media screen and (min-width:425px) {
  .trust-logo {
    width: 120px;
  }

  .social-links {
    width: 50%;
    justify-content: space-between;
  }
}

@media screen and (min-width:845px) {
  .footer {
    padding: 20px 10%;
  }

  .footer-container {
    margin-bottom: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .brand-col {
    width: 25%;
  }

  .footer p {
    display: none;
  }

  .brand-col p {
    font-size: 14px;
    display: block;
    color: var(--blogTextColor);
  }

  .brand-col h3 {
    font-size: 12px;
  }

  .footer-col {
    width: 23%;
    margin: 0;
  }

  .trust-col {
    margin-top: 23px;
    width: 60%;
  }
}